.product {
    // 8 columns 320px
    @include media($mobile) {
        @include span-columns(8);
        @include omega();
        margin-left: 0;
    }
    // 8 columns 600px
    @include media($mobile-large) {
        @include span-columns(8);
        @include omega();
        margin-left: 0;
    }
    // 10 columns 900px
    @include media($tablet) {
        @include span-columns(10);
        @include omega();
    }
    // 12 columns 1200px
    @include media($desktop) {
        @include span-columns(10);
        @include omega();
        @include shift(1);
    }
    // 12 columns 1400px
    @include media($desktop-large) {
        @include span-columns(12);
        @include omega();
        margin-left: 0;
    }
}

.product-img {
    @include omega();
    margin: 18px 0;
    // 8 columns 320px
    @include media($mobile) {
        @include span-columns(6 of 8);
        @include shift(1);
    }
    // 8 columns 600px
    @include media($mobile-large) {
        @include span-columns(6 of 8);
        @include shift(1);
    }
    // 10 columns 900px
    @include media($tablet) {
        @include span-columns(4 of 10);
        @include shift(1);
    }
    // 12 columns 1200px
    @include media($desktop) {
        @include span-columns(5 of 12);
        margin-left: 0;
    }
}

.product-img-list {
    li {
        display: inline-block;
        float: left;
        text-align: center;
    }
}

.product-info {
    @include omega();
    margin: 18px 0;
    // 8 columns 320px
    @include media($mobile) {
        @include span-columns(6 of 8);
        @include shift(1);
        @include omega();
    }
    // 8 columns 600px
    @include media($mobile-large) {
        @include span-columns(6 of 8);
        @include shift(1);
        @include omega();
    }
    // 10 columns 900px
    @include media($tablet) {
        @include span-columns(4 of 10);
        margin-left: 0;
        @include omega();
    }
    // 12 columns 1200px
    @include media($desktop) {
        @include span-columns(6 of 12);
        @include shift(1);
        @include omega();
    }
}

.price {
    color: #2dc103;
    font-weight: bolder;
    display: inline-block;
    margin-bottom: 0;
}

.product-price {
    @include font-size(30);
    color: white;
    display: inline-block;
}

.product-description {
    @include omega();
    margin: 18px 0;
    // 8 columns 320px
    @include media($mobile) {
        @include span-columns(6 of 8);
        @include shift(1);
    }
    // 8 columns 600px
    @include media($mobile-large) {
        @include span-columns(6 of 8);
        @include shift(1);
    }
    // 10 columns 900px
    @include media($tablet) {
        @include span-columns(4 of 10);
        margin-left: 0;
    }
    // 12 columns 1200px
    @include media($desktop) {
        @include span-columns(6 of 12);
        @include shift(1);
    }
}

.review-block-latest {
    border: 1px solid #52C0D3;
    border-radius: 3px;
    overflow: hidden;
    background: #2D2D2D;
    padding: 8px 4%;
    margin-top: 20px;
}

.product-description-info {
    @include span-columns(5 of 5);
    @include omega();
}

.product-comment {
    @include span-columns(5 of 5);
}

.product-img-list {
    .border-image{
        border: 1px solid #52C0D3;
        margin-right: 10px;
        margin-top: 20px;
    }
}

.active {
    @include span-columns(10 of 10);
}

.image-active {
    width: 600px;
}

.preview-image {
    width: 60px;
    cursor: pointer;
}
